node-red/protobili_with_ppg_fever.json
[{"id":"57b01c8a.329244","type":"tab","label":"ProtoBili","disabled":false,"info":""},{"id":"3cd73fad.0f741","type":"tab","label":"Analysis","disabled":false,"info":""},{"id":"2911e1c4.c879fe","type":"tab","label":"PPG","disabled":false,"info":""},{"id":"3d9633a5.1a9c2c","type":"tab","label":"Temperature","disabled":false,"info":""},{"id":"465b2528.943aec","type":"mqtt-broker","name":"IoT ","broker":"mqtt://iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61eb151d.9474dc","type":"mqtt-broker","name":"Spectral_Driver","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6b314a79.dbeb14","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c57a19.2e9156","type":"mqtt-broker","name":"","broker":"10.11.0.26","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a0911d85.b00b2","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"76afae2e.93873","type":"mqtt-broker","name":"Localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"34f275a1.74579a","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd05613e.d431c","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c124e651.e5e718","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e5cc5bf3.f5d918","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88dbf16c.38a3a","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c964a0a3.c0d46","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b2514659.591908","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0954917.508f68","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6cc7a45c.9a4cec","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef72b993.46cb48","type":"mqtt-broker","name":"","broker":"10.11.0.135","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a69f077.56a7ef8","type":"mqtt-broker","name":"Localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fa31dafd.5233f8","type":"mqtt-broker","name":"Localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6f9c9f86.04627","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0080c0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0080c0","edited":true},"page-titlebar-backgroundColor":{"value":"#0080c0","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#0daeff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0080c0","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"ProtoBili","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":50,"sy":72,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2c8bf5ba.7ac24a","type":"ui_tab","name":"ProtoBili","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bf7dafef.306c6","type":"ui_tab","name":"Analysis","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"4f6efb99.27d7f4","type":"ui_group","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"2984c30b.97ee8c","type":"ui_group","name":"HRM","tab":"6b649755.0ea488","order":1,"disp":false,"width":"30","collapse":false},{"id":"71037230.61f00c","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"2a5af278.f60f4e","type":"ui_group","name":"ProtoBili","tab":"","disp":false,"width":"12","collapse":false},{"id":"d8f70bf8.665118","type":"ui_group","name":"ProtoBili","tab":"","order":1,"disp":false,"width":"12","collapse":false},{"id":"f1f1ebf.5879118","type":"ui_group","name":"Buttons","tab":"","order":3,"disp":false,"width":"4","collapse":false},{"id":"19e2b13d.32575f","type":"ui_group","name":"Config","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"a0891d6d.48ea","type":"ui_group","name":"Actual Configuration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4a2e11ad.af379","type":"ui_group","name":"Graph","tab":"2c8bf5ba.7ac24a","order":1,"disp":false,"width":"32","collapse":false},{"id":"9935cf76.3f66","type":"ui_group","name":"Control","tab":"2c8bf5ba.7ac24a","order":4,"disp":false,"width":"12","collapse":false},{"id":"2f45b8f6.87a9b8","type":"ui_group","name":"Actual Configuration","tab":"2c8bf5ba.7ac24a","order":2,"disp":true,"width":"6","collapse":false},{"id":"acedc95.6674338","type":"ui_group","name":"Config","tab":"2c8bf5ba.7ac24a","order":4,"disp":false,"width":"6","collapse":false},{"id":"8dc6452e.50e7f8","type":"ui_group","name":"Chart","tab":"bf7dafef.306c6","order":1,"disp":false,"width":"30","collapse":false},{"id":"ba01e53e.d177e8","type":"mqtt-broker","name":"NanoPi-NEO","broker":"192.168.2.110","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6b649755.0ea488","type":"ui_tab","name":"PPG","icon":"dashboard","disabled":false,"hidden":false},{"id":"147e978.e672669","type":"ui_tab","name":"Fever","icon":"dashboard","disabled":false,"hidden":false},{"id":"75a975dd.89f24c","type":"ui_group","name":"Default","tab":"147e978.e672669","order":1,"disp":false,"width":"20","collapse":false},{"id":"3d9d2bd7.114254","type":"inject","z":"57b01c8a.329244","name":"","props":[{"p":"payload","v":"0806052U1","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0806052U1","payloadType":"str","x":110,"y":40,"wires":[["d770018c.f63ec"]]},{"id":"d770018c.f63ec","type":"mqtt out","z":"57b01c8a.329244","name":"","topic":"spec/cmd/start","qos":"","retain":"","broker":"61eb151d.9474dc","x":460,"y":41,"wires":[]},{"id":"1100e1f8.ca7cee","type":"inject","z":"57b01c8a.329244","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0806052U1","payloadType":"str","x":110,"y":100,"wires":[["5cee6735.e0da78"]]},{"id":"5cee6735.e0da78","type":"mqtt out","z":"57b01c8a.329244","name":"","topic":"spec/cmd/stop","qos":"","retain":"","broker":"61eb151d.9474dc","x":460,"y":100,"wires":[]},{"id":"305cfefc.3460b2","type":"inject","z":"57b01c8a.329244","name":"","props":[{"p":"payload","v":"0806052U1","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0806052U1","payloadType":"str","x":110,"y":160,"wires":[["78596c2a.5f2df4"]]},{"id":"78596c2a.5f2df4","type":"mqtt out","z":"57b01c8a.329244","name":"","topic":"spec/cmd/meas","qos":"","retain":"","broker":"61eb151d.9474dc","x":460,"y":160,"wires":[]},{"id":"97f4f5c0.4a91e8","type":"mqtt in","z":"57b01c8a.329244","name":"","topic":"spec/reply/meas","qos":"0","datatype":"auto","broker":"fa31dafd.5233f8","x":100,"y":340,"wires":[["90310b1.4a670f8","6bab2094.2626d","43daa2d5.04069c"]]},{"id":"4084e95f.118988","type":"debug","z":"57b01c8a.329244","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":480,"wires":[]},{"id":"f67a7c42.1d9b9","type":"inject","z":"57b01c8a.329244","name":"Init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"[]","payloadType":"json","x":490,"y":400,"wires":[["d1679183.798a6"]]},{"id":"c336574e.de5048","type":"function","z":"57b01c8a.329244","name":"","func":"var out = {};\n\nout.series = ['Last Measure'];\nout.data = [];\nslice_start = 150;\nslice_end = 625;\n/*slice_start = 0;\nslice_end = 2048;*/\n\nspectrum = msg.payload.data;\nsliced = spectrum.slice(slice_start, slice_end);\nout.data.push(sliced);\nmyArray = msg.payload.wavelengths.map(a => a.toFixed(2));\nsubArray = myArray.slice(slice_start, slice_end)\nout.labels = subArray;\n\nout.int_time = msg.payload.integration_time;\n\nglobal.set(\"last_measure\", out)\n\nreturn {payload:[out]};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":360,"wires":[["921cda4a.320b48","88d2b87.576f848","4084e95f.118988"]]},{"id":"90310b1.4a670f8","type":"json","z":"57b01c8a.329244","name":"","property":"payload","action":"","pretty":false,"x":250,"y":340,"wires":[["c336574e.de5048"]]},{"id":"56404f39.949b6","type":"inject","z":"57b01c8a.329244","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0806052U1","payloadType":"str","x":120,"y":480,"wires":[["4682ae34.3d396"]]},{"id":"4682ae34.3d396","type":"mqtt out","z":"57b01c8a.329244","name":"","topic":"spec/cmd/meas","qos":"","retain":"","broker":"61eb151d.9474dc","x":340,"y":480,"wires":[]},{"id":"29faf9e6.c876b6","type":"inject","z":"57b01c8a.329244","name":"Default Config","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{0, 2047, 10, 0, 10, {0, 100}, {3,0}, 1, {0, 0, 0}, {0, 0, 0, 0, 0}}","payloadType":"str","x":110,"y":220,"wires":[["855c7d4d.fff42"]]},{"id":"855c7d4d.fff42","type":"mqtt out","z":"57b01c8a.329244","name":"","topic":"spec/cmd/config","qos":"","retain":"","broker":"61eb151d.9474dc","x":460,"y":220,"wires":[]},{"id":"18217b69.f731e5","type":"function","z":"57b01c8a.329244","name":"","func":"var out = {};\nout.payload = {};\nout.payload.serial = \"0806052U1\";\nout.payload.integrationTime = msg.payload.integrationTime;\nout.payload.nrAverages = msg.payload.nrAverages;\nout.payload.nrAggregations = msg.payload.nrAggregations;\nout.topic = msg.topic;\nreturn out","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":660,"wires":[["4b4f7edf.da303","4084e95f.118988"]]},{"id":"4b4f7edf.da303","type":"mqtt out","z":"57b01c8a.329244","name":"","topic":"spec/cmd/config","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"61eb151d.9474dc","x":620,"y":660,"wires":[]},{"id":"b09e74d9.e1a538","type":"function","z":"57b01c8a.329244","name":"","func":"var out = {};\nout.payload = msg.payload.integrationTime;\nreturn out;","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["971845d6.b496a8"]]},{"id":"568622e2.a979dc","type":"function","z":"57b01c8a.329244","name":"","func":"var out = {};\nout.payload = msg.payload.nrAverages;\nreturn out;","outputs":1,"noerr":0,"x":400,"y":780,"wires":[["f33c482a.559dc8"]]},{"id":"85eb9641.1d7138","type":"inject","z":"57b01c8a.329244","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.0","topic":"","payload":"0","payloadType":"num","x":410,"y":740,"wires":[["971845d6.b496a8","f33c482a.559dc8","f49f213d.9d68b"]]},{"id":"3e3adc92.9c3884","type":"mqtt in","z":"57b01c8a.329244","name":"","topic":"client/connected","qos":"2","broker":"a69f077.56a7ef8","x":180,"y":940,"wires":[["ca3256e3.fc5148"]]},{"id":"ca3256e3.fc5148","type":"debug","z":"57b01c8a.329244","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":940,"wires":[]},{"id":"1749d3c7.6afd2c","type":"inject","z":"57b01c8a.329244","name":"HW Creation","props":[{"p":"payload","v":"{\"id\":\"teste\",\"action\":\"configuration\",\"timestamp\":19321312,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"model\":\"AVASPEC\",\"host_ip\":\"10.11.0.135\",\"serial_number\":\"0806052U1\",\"ad_resolution\":16,\"n_pixels\":2048}}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"teste\",\"action\":\"configuration\",\"timestamp\":19321312,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"model\":\"AVASPEC\",\"host_ip\":\"10.11.0.135\",\"serial_number\":\"0806052U1\",\"ad_resolution\":16,\"n_pixels\":2048}}","payloadType":"json","x":170,"y":1080,"wires":[["a825d4eb.145908"]]},{"id":"a825d4eb.145908","type":"mqtt out","z":"57b01c8a.329244","name":"","topic":"spec_control/1/command","qos":"","retain":"","broker":"fa31dafd.5233f8","x":410,"y":1120,"wires":[]},{"id":"a0d787b1.6023a8","type":"mqtt out","z":"57b01c8a.329244","name":"","topic":"spec_control/1/command","qos":"","retain":"","broker":"fa31dafd.5233f8","x":410,"y":1260,"wires":[]},{"id":"c099af60.b76b3","type":"inject","z":"57b01c8a.329244","name":"AUTO_Acquire_Spectrum","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"test\",\"action\":\"acquire_spectrum\",\"timestamp\":1012312315,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"mode\":\"AUTO\"}}","payloadType":"json","x":170,"y":1240,"wires":[["a0d787b1.6023a8"]]},{"id":"c8dd6351.5e19c","type":"mqtt in","z":"57b01c8a.329244","name":"","topic":"spec/#","qos":"0","datatype":"auto","broker":"61eb151d.9474dc","x":90,"y":1340,"wires":[["fd0e95ea.97acf8"]]},{"id":"fd0e95ea.97acf8","type":"debug","z":"57b01c8a.329244","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":1340,"wires":[]},{"id":"d37403cd.7c6b4","type":"inject","z":"57b01c8a.329244","name":"Manual_Config","props":[{"p":"payload","v":"{\"id\":\"teste\",\"action\":\"settings_adjust\",\"timestamp\":19321312,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"mode\":\"manual\",\"integration_time\":10,\"nr_averages\":1}}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"teste\",\"action\":\"settings_adjust\",\"timestamp\":19321312,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"mode\":\"manual\",\"integration_time\":10,\"nr_averages\":1}}","payloadType":"json","x":130,"y":1160,"wires":[["a825d4eb.145908"]]},{"id":"78bbf8ae.0a3708","type":"inject","z":"57b01c8a.329244","name":"Auto_Config","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"teste\",\"action\":\"settings_adjust\",\"timestamp\":19321312,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"mode\":\"auto\",\"integration_time\":10,\"nr_averages\":1}}","payloadType":"json","x":160,"y":1200,"wires":[["a825d4eb.145908"]]},{"id":"5ad821e2.d446d","type":"inject","z":"57b01c8a.329244","name":"MANUAL_Acquire_Spectrum","props":[{"p":"payload","v":"{\"id\":\"teste\",\"action\":\"acquire_spectrum\",\"timestamp\":19321312,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"mode\":\"manual\"}}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"teste\",\"action\":\"acquire_spectrum\",\"timestamp\":19321312,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"mode\":\"manual\"}}","payloadType":"json","x":160,"y":1280,"wires":[["a0d787b1.6023a8"]]},{"id":"6bab2094.2626d","type":"json","z":"57b01c8a.329244","name":"","property":"payload","action":"","pretty":false,"x":250,"y":400,"wires":[["4a016ef7.9aecd"]]},{"id":"4a016ef7.9aecd","type":"function","z":"57b01c8a.329244","name":"","func":"\nvar graph = context.get(\"max_data\") || []\n\nvar max = msg.payload.data.reduce(function(a, b) {\n  return Math.max(a, b);\n});\nnode.log(max)\ngraph.push(graph)\nnode.log(graph)\ncontext.set(\"max_data\",graph);\n\n\n\nreturn {topic: \"data\", payload: max};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":440,"wires":[["2b468416.ae6edc"]]},{"id":"88d2b87.576f848","type":"csv","z":"57b01c8a.329244","name":"","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\r\\n","temp":"series, wavelengths, data","skip":"0","strings":true,"x":480,"y":300,"wires":[["5161d63e.905d88"]]},{"id":"5161d63e.905d88","type":"file","z":"57b01c8a.329244","name":"","filename":"spec.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","x":640,"y":280,"wires":[[]]},{"id":"38bd165d.dea31a","type":"json","z":"57b01c8a.329244","name":"","property":"payload","action":"","pretty":false,"x":250,"y":600,"wires":[["ceb4b305.ce276","4891c3e.705053c"]]},{"id":"ceb4b305.ce276","type":"function","z":"57b01c8a.329244","name":"","func":"var out = {};\nout.payload = msg.payload.integration_time;\nreturn out;\n","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["971845d6.b496a8"]]},{"id":"4891c3e.705053c","type":"function","z":"57b01c8a.329244","name":"","func":"var out = {};\nout.payload = msg.payload.nr_averages;\nreturn out;\n","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["f33c482a.559dc8"]]},{"id":"cf6ce6fc.a83898","type":"mqtt in","z":"57b01c8a.329244","name":"","topic":"spec/reply/meas","qos":"0","datatype":"auto","broker":"61eb151d.9474dc","x":100,"y":600,"wires":[["38bd165d.dea31a"]]},{"id":"dbfdda69.009398","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {};\n\nout = global.get(\"reference\");\n\nglobal.set(\"chart\", out);\n\nreturn {payload:[out]};","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["233f6298.e8741e"]]},{"id":"558447f1.64a048","type":"function","z":"57b01c8a.329244","name":"","func":"var out = {};\n\nout = global.get(\"last_measure\");\nout.series = ['Reference'];\n\nglobal.set(\"reference\", out);\n\nreturn","outputs":1,"noerr":0,"x":340,"y":880,"wires":[[]]},{"id":"d9f94f0e.703bd","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {};\n\nref = global.get(\"reference\");\nlast = global.get(\"last_measure\");\n\nout.data = [ref.data[0].map((a, idx) => 100*(ref.int_time/last.int_time)*(last.data[0][idx]/a))];\n\n// out.data = operation;\nout.labels = ref.labels;\nout.series = [\"Reflection\"]\n\nglobal.set(\"reflection\", out);\nglobal.set(\"chart\", out);\n\nreturn {payload:[out]};","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["233f6298.e8741e"]]},{"id":"e5b6fd06.92fd5","type":"debug","z":"3cd73fad.0f741","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":220,"wires":[]},{"id":"11100a37.5b52e6","type":"function","z":"3cd73fad.0f741","name":"","func":"var measure = {};\n\nmeasure = global.get(\"chart\");\n\nmeasure.data[0].forEach((a, idx) => node.send({payload: {\"data\": a, \"wave\": measure.labels[idx], \"int_time\": measure.int_time}}))\n\nflow.set(\"filename\", msg.payload.save_filepath);\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":380,"wires":[["e95cf120.617dd"]]},{"id":"e95cf120.617dd","type":"csv","z":"3cd73fad.0f741","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\r\\n","temp":"data, wave, int_time","skip":"0","strings":true,"x":440,"y":380,"wires":[["259615d9.36a4ca"]]},{"id":"63d6325a.04d16c","type":"file","z":"3cd73fad.0f741","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","x":690,"y":380,"wires":[[]]},{"id":"259615d9.36a4ca","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {}\n\nout.payload = msg.payload\nout.filename = flow.get(\"filename\") || \"C:\\\\Doutoramento\\\\data\\\\teste.csv\";\n\nreturn out","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["63d6325a.04d16c"]]},{"id":"31ab586b.13ccd8","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {};\n\nout.filename = msg.payload.filepath1\n\nreturn out;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["714f3967.7c4bd8"]]},{"id":"1b823601.4173fa","type":"csv","z":"3cd73fad.0f741","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"data, wave, int_time","skip":"0","x":550,"y":440,"wires":[["a571a912.c31eb8"]]},{"id":"8dbdb822.146e08","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {};\n\nout.filename = msg.payload.filepath2\n\nreturn out;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["4a44b2b4.46736c"]]},{"id":"a1f84f0c.6b43a","type":"csv","z":"3cd73fad.0f741","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"data, wave, int_time","skip":"0","x":550,"y":480,"wires":[["f3eaab82.21c448"]]},{"id":"a571a912.c31eb8","type":"function","z":"3cd73fad.0f741","name":"","func":"var array = {};\nvar out = {};\n\narray = global.get(\"file1_content\") || {\"data\": [[]], \"labels\":[], \"int_time\": 1};\n// array.data[0].push({\"x\": msg.payload.wave, \"y\": msg.payload.data})\narray.data[0].push(msg.payload.data)\narray.labels.push(msg.payload.wave)\narray.series = [\"Reference\"];\narray.int_time = msg.payload.int_time\n\nglobal.set(\"file1_content\", array);\nglobal.set(\"reference\", array);\n\n\n\n// out.series = [\"Reference\"];\n// out.data.push(array.data[0]);\n// out.labels = array.labels;\n\n// global.set(\"reference\", out);\n\nreturn {payload:array};","outputs":1,"noerr":0,"x":670,"y":440,"wires":[[]]},{"id":"714f3967.7c4bd8","type":"file in","z":"3cd73fad.0f741","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"x":430,"y":440,"wires":[["1b823601.4173fa"]]},{"id":"4a44b2b4.46736c","type":"file in","z":"3cd73fad.0f741","name":"","filename":"","format":"lines","chunk":false,"sendError":false,"x":430,"y":480,"wires":[["a1f84f0c.6b43a"]]},{"id":"32f67682.47bcfa","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {\"data\": [], \"labels\":[],\"series\":[]};\n\nout1 = global.get(\"file1_content\");\nout2 = global.get(\"file2_content\");\n\nout.series = [out1.series[0], out2.series[0]];\nout.data.push(out1.data[0]);\nout.data.push(out2.data[0]);\nout.labels = out1.labels;\n\nglobal.set(\"chart\", out);\n\nreturn {payload:[out]};","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["233f6298.e8741e"]]},{"id":"f3eaab82.21c448","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {};\n\narray = global.get(\"file2_content\") || {\"data\": [[]], \"labels\":[], \"int_time\": 1};\n// array.data[0].push({\"x\": msg.payload.wave, \"y\": msg.payload.data})\narray.data[0].push(msg.payload.data)\narray.labels.push(msg.payload.wave)\narray.series = [\"Last Measure\"]\narray.int_time = msg.payload.int_time\n\nglobal.set(\"file2_content\", array);\nglobal.set(\"last_measure\", array);\n\nreturn {payload:array};","outputs":1,"noerr":0,"x":670,"y":480,"wires":[[]]},{"id":"82ba93e4.a0131","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {\"data\": [], \"labels\":[],\"series\":[]};\n\nglobal.set(\"file1_content\", undefined);\nglobal.set(\"file2_content\", undefined);\nflow.set(\"filename\", undefined);\nglobal.set(\"chart\", undefined);\n\n\nreturn {payload:[]}","outputs":1,"noerr":0,"x":310,"y":20,"wires":[["233f6298.e8741e"]]},{"id":"9cd37975.4df9b8","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {};\n\nout = global.get(\"last_measure\");\n\nglobal.set(\"chart\", out);\n\nreturn {payload:[out]};","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["233f6298.e8741e"]]},{"id":"8538aa4f.ebbf38","type":"inject","z":"3cd73fad.0f741","name":"Init","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"[]","payloadType":"json","x":50,"y":20,"wires":[["20e629d0.fcc966"]]},{"id":"85d9fe3.fa418","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {};\n\nreflection = global.get(\"reflection\");\n\nout.data = [reflection.data[0].map((a, idx) => 100 - a)];\n\nout.labels = reflection.labels;\nout.series = [\"Absorbance\"]\n\nglobal.set(\"absorbance\", out);\nglobal.set(\"chart\", out);\n\nreturn {payload:[out]};","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["233f6298.e8741e","e5b6fd06.92fd5"]]},{"id":"8601d1c7.37e8e","type":"function","z":"3cd73fad.0f741","name":"","func":"var out = {\"data\": [[]], \"labels\":[],\"series\":[]};\nvar idx;\nvar moveMean = [];\nvar meanLabels = [];\n\nabsb = global.get(\"absorbance\");\n\nfor (idx = 1; idx < absb.data[0].length; idx++) {\n    out.data[0].push((absb.data[0][idx] - absb.data[0][idx-1])/(absb.labels[idx] - absb.labels[idx-1]));\n    out.labels.push(absb.labels[idx-1] + ((absb.labels[idx] - absb.labels[idx-1])/2))\n}\n\n\nfor (idx = 1; idx < out.data[0].length-1; idx++) {\n    moveMean.push((out.data[0][idx-1] + out.data[0][idx] + out.data[0][idx+1])/3.0);\n    meanLabels.push(out.labels[idx]);\n}\n\nout.labels = [];\nout.data[0] = [];\nout.labels = meanLabels;\nout.data[0] = moveMean;\n\n\nout.series = [\"1st Derivative of Absorbance\"]\n\nglobal.set(\"absb_1st\", out);\nglobal.set(\"chart\", out);\n\nreturn {payload:[out]};","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["233f6298.e8741e","e5b6fd06.92fd5"]]},{"id":"d1679183.798a6","type":"ui_button","z":"57b01c8a.329244","name":"","group":"4a2e11ad.af379","order":6,"width":"4","height":"1","passthru":true,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":610,"y":400,"wires":[["921cda4a.320b48","2b468416.ae6edc"]]},{"id":"a643d3b.f82e53","type":"ui_button","z":"57b01c8a.329244","name":"","group":"4a2e11ad.af379","order":4,"width":"4","height":"1","passthru":false,"label":"Manual Measurement","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0806052U1","payloadType":"str","topic":"","topicType":"str","x":120,"y":520,"wires":[["4682ae34.3d396"]]},{"id":"8cbeb5dc.662068","type":"ui_button","z":"57b01c8a.329244","name":"","group":"4a2e11ad.af379","order":1,"width":"4","height":"1","passthru":false,"label":"Start Service","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":\"test\",\"action\":\"configuration\",\"timestamp\":1012312315,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"device_id\":1,\"sensor_id\":1,\"model\":\"AVASPEC\",\"host_ip\":\"localhost\",\"int_time\":20,\"n_samples\":15}}","payloadType":"json","topic":"","topicType":"str","x":170,"y":1000,"wires":[["a825d4eb.145908"]]},{"id":"471c05c2.81b39c","type":"ui_button","z":"57b01c8a.329244","name":"","group":"4a2e11ad.af379","order":5,"width":"4","height":"1","passthru":false,"label":"Auto-Adjust","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"id\":\"test\",\"action\":\"acquire_spectrum\",\"timestamp\":1012312315,\"reply\":true,\"reply_timeout\":5000,\"reply_max_attempts\":10,\"attributes\":{\"mode\":\"AUTO\"}}","payloadType":"json","topic":"","topicType":"str","x":170,"y":1040,"wires":[["a825d4eb.145908"]]},{"id":"24bb3b43.e67b34","type":"ui_button","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":2,"width":"3","height":"1","passthru":false,"label":"Get Reference","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":140,"y":100,"wires":[["dbfdda69.009398"]]},{"id":"3a7308d7.928158","type":"ui_button","z":"57b01c8a.329244","name":"","group":"4a2e11ad.af379","order":2,"width":"4","height":"1","passthru":false,"label":"Save Reference","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":100,"y":880,"wires":[["558447f1.64a048"]]},{"id":"9f223d49.c1dcd","type":"ui_button","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":4,"width":"3","height":"1","passthru":false,"label":"Get Reflection","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":140,"y":180,"wires":[["d9f94f0e.703bd"]]},{"id":"971d912a.44fa3","type":"ui_button","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":6,"width":"2","height":"1","passthru":false,"label":"Compair","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":160,"y":60,"wires":[["32f67682.47bcfa"]]},{"id":"20e629d0.fcc966","type":"ui_button","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":7,"width":"2","height":"1","passthru":true,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":170,"y":20,"wires":[["82ba93e4.a0131"]]},{"id":"4c9f433b.f7a8dc","type":"ui_button","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":3,"width":"2","height":"1","passthru":false,"label":"Get Last","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":160,"y":140,"wires":[["9cd37975.4df9b8"]]},{"id":"e1183d4c.ee188","type":"ui_button","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":5,"width":"3","height":"1","passthru":false,"label":"Get Absorbance","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":140,"y":220,"wires":[["85d9fe3.fa418"]]},{"id":"3234f800.ce5d18","type":"ui_button","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":5,"width":"3","height":"1","passthru":false,"label":"Get 1st Derivative","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":130,"y":260,"wires":[["8601d1c7.37e8e"]]},{"id":"3772d27a.c1e8be","type":"ui_form","z":"57b01c8a.329244","name":"","label":"User Configuration Input","group":"acedc95.6674338","order":3,"width":0,"height":0,"options":[{"label":"Configure new Integration Time","value":"integrationTime","type":"number","required":true,"rows":null},{"label":"Configure new Nr. of Averages","value":"nrAverages","type":"number","required":true,"rows":null},{"label":"Configure new Nr. of Aggregations","value":"nrAggregations","type":"number","required":true,"rows":null}],"formValue":{"integrationTime":"","nrAverages":"","nrAggregations":""},"payload":"","submit":"Save","cancel":"Cancel","topic":"config","topicType":"str","splitLayout":false,"x":130,"y":660,"wires":[["18217b69.f731e5","b09e74d9.e1a538","568622e2.a979dc","85be0f.1d01f1f"]]},{"id":"b11ec19a.85c08","type":"ui_form","z":"3cd73fad.0f741","name":"","label":"Spectrum Comparison","group":"8dc6452e.50e7f8","order":9,"width":"18","height":"3","options":[{"label":"Reference","value":"filepath1","type":"text","required":true,"rows":null},{"label":"Last Measure","value":"filepath2","type":"text","required":true,"rows":null}],"formValue":{"filepath1":"","filepath2":""},"payload":"","submit":"Read data from files","cancel":"","topic":"","topicType":"str","splitLayout":false,"x":120,"y":440,"wires":[["31ab586b.13ccd8","8dbdb822.146e08"]]},{"id":"62ea37bd.aa0af8","type":"ui_form","z":"3cd73fad.0f741","name":"","label":"Spectrum Save","group":"8dc6452e.50e7f8","order":8,"width":"18","height":"1","options":[{"label":"File Path 1","value":"save_filepath","type":"text","required":true,"rows":null}],"formValue":{"save_filepath":""},"payload":"","submit":"Save Spectrum","cancel":"","topic":"","topicType":"str","splitLayout":false,"x":140,"y":380,"wires":[["11100a37.5b52e6"]]},{"id":"971845d6.b496a8","type":"ui_text","z":"57b01c8a.329244","group":"2f45b8f6.87a9b8","order":2,"width":"0","height":"0","name":"integrationTime","label":"Configured Integration Time","format":"{{msg.payload}}","layout":"row-left","x":620,"y":720,"wires":[]},{"id":"f33c482a.559dc8","type":"ui_text","z":"57b01c8a.329244","group":"2f45b8f6.87a9b8","order":2,"width":"0","height":"0","name":"nrAverages","label":"Configured Nr. of Averages","format":"{{msg.payload}}","layout":"row-left","x":610,"y":760,"wires":[]},{"id":"921cda4a.320b48","type":"ui_chart","z":"57b01c8a.329244","name":"","group":"4a2e11ad.af379","order":3,"width":"27","height":"7","label":"Spectrum","chartType":"line","legend":"false","xformat":"Wavelength","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"2048","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":360,"wires":[[]]},{"id":"2b468416.ae6edc","type":"ui_chart","z":"57b01c8a.329244","name":"","group":"9935cf76.3f66","order":1,"width":"12","height":"4","label":"Control Operation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"auto","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":440,"wires":[[]]},{"id":"233f6298.e8741e","type":"ui_chart","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":1,"width":"30","height":"7","label":"Spectrum","chartType":"line","legend":"true","xformat":"Wavelength","interpolate":"linear","nodata":"","dot":false,"ymin":"auto","ymax":"auto","removeOlder":1,"removeOlderPoints":"2048","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":140,"wires":[[]]},{"id":"43daa2d5.04069c","type":"json","z":"57b01c8a.329244","name":"","property":"payload","action":"","pretty":false,"x":570,"y":460,"wires":[["4084e95f.118988"]]},{"id":"52e203cd.38aa8c","type":"inject","z":"57b01c8a.329244","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{     \"series\": [\"X\", \"Y\", \"Z\" ],     \"data\": [ [5,6,9,10], [3,8,5,10], [6,7,2,10] ],     \"labels\": [ \"Jan\", \"Feb\", \"Mar\", \"Apr\" ] }]","payloadType":"json","x":660,"y":240,"wires":[["921cda4a.320b48","4084e95f.118988"]]},{"id":"65d6e58a.d971cc","type":"mqtt in","z":"2911e1c4.c879fe","name":"","topic":"wipy/reply","qos":"2","datatype":"auto","broker":"76afae2e.93873","x":170,"y":80,"wires":[["a2b4a1a0.2d099"]]},{"id":"e233dc76.261fb","type":"debug","z":"2911e1c4.c879fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":80,"wires":[]},{"id":"be0b00a7.d376","type":"ui_chart","z":"2911e1c4.c879fe","name":"","group":"2984c30b.97ee8c","order":1,"width":"30","height":"7","label":"PPG (time in ms)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":140,"wires":[[]]},{"id":"26dae826.0ce798","type":"inject","z":"2911e1c4.c879fe","name":"Init","props":[{"p":"payload","v":"[]","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"[]","payloadType":"json","x":370,"y":160,"wires":[["fb42947e.03a668"]]},{"id":"fb42947e.03a668","type":"ui_button","z":"2911e1c4.c879fe","name":"","group":"2984c30b.97ee8c","order":2,"width":"4","height":"1","passthru":true,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":490,"y":160,"wires":[["be0b00a7.d376"]]},{"id":"bd9d3ed1.9cbca","type":"inject","z":"2911e1c4.c879fe","name":"Start Measure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"wipy/command","payload":"{\"action\":\"start\",\"duration\":1}","payloadType":"json","x":210,"y":360,"wires":[["38e90136.7e22ee"]]},{"id":"38e90136.7e22ee","type":"mqtt out","z":"2911e1c4.c879fe","name":"","topic":"wipy/command","qos":"","retain":"","broker":"76afae2e.93873","x":400,"y":380,"wires":[]},{"id":"a2b4a1a0.2d099","type":"json","z":"2911e1c4.c879fe","name":"","property":"payload","action":"","pretty":false,"x":310,"y":80,"wires":[["6f8991ee.a48b8","e233dc76.261fb"]]},{"id":"6f8991ee.a48b8","type":"function","z":"2911e1c4.c879fe","name":"","func":"filter = {};\nfilter.data = [[]];\nfilter.labels = [];\nfilter.series = [];\nvar n_samples = 2;\n\n// for (let i = 0; i < n_samples; i++) {\n//     filter[i] = 0;\n// }\n\nfor (let i = n_samples; i < msg.payload.data[0].length; i++) {\n    let sum = 0;\n    for (let j = i-n_samples; j < i; j++) {\n        sum += parseInt(msg.payload.data[0][j], 10)\n    }\n    filter.data[0][i-n_samples] = (sum/n_samples);\n    filter.labels[i-n_samples] = msg.payload.labels[i];\n}\n// msg.payload.data[0] = filter;\nfilter.series[0] = msg.payload.series[0];\n\nglobal.set(\"ppg\", filter);\n\nreturn {payload:[filter]};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":120,"wires":[["be0b00a7.d376","bb7bfecb.00047","e233dc76.261fb"]]},{"id":"871c68d5.595dc8","type":"ui_form","z":"2911e1c4.c879fe","name":"","label":"","group":"2984c30b.97ee8c","order":2,"width":"4","height":"1","options":[{"label":"N Samples","value":"duration","type":"number","required":true,"rows":null}],"formValue":{"duration":""},"payload":"","submit":"Start","cancel":"","topic":"topic","topicType":"msg","splitLayout":true,"x":90,"y":400,"wires":[["d7637d4.193288"]]},{"id":"d7637d4.193288","type":"function","z":"2911e1c4.c879fe","name":"","func":"var out = {};\nout.payload = {\"action\": \"start\", \"duration\": msg.payload.duration};\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":400,"wires":[["38e90136.7e22ee"]]},{"id":"f49f213d.9d68b","type":"ui_text","z":"57b01c8a.329244","group":"2f45b8f6.87a9b8","order":2,"width":"0","height":"0","name":"nrAverages","label":"Configured Nr. of Aggregations","format":"{{msg.payload}}","layout":"row-left","x":610,"y":800,"wires":[]},{"id":"85be0f.1d01f1f","type":"function","z":"57b01c8a.329244","name":"","func":"var out = {};\nout.payload = msg.payload.nrAggregations;\nreturn out;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":820,"wires":[["f49f213d.9d68b"]]},{"id":"f914fa8b.5fc9e8","type":"function","z":"2911e1c4.c879fe","name":"","func":"var measure = {};\n\nmeasure = global.get(\"ppg\");\n\nmeasure.data[0].forEach((a, idx) => node.send({payload: {\"data\": a, \"timestamp\": measure.labels[idx]}}))\n\nflow.set(\"ppg_filename\", msg.payload.save_filepath);\n\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":480,"wires":[["a96facd6.3bfe"]]},{"id":"a96facd6.3bfe","type":"csv","z":"2911e1c4.c879fe","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\r\\n","temp":"data, timestamp","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":390,"y":480,"wires":[["716c6d3f.a580d4"]]},{"id":"4788c030.9ff4","type":"file","z":"2911e1c4.c879fe","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","x":650,"y":480,"wires":[[]]},{"id":"716c6d3f.a580d4","type":"function","z":"2911e1c4.c879fe","name":"","func":"var out = {}\n\nout.payload = msg.payload\nout.filename = flow.get(\"ppg_filename\") || \"/home/fernando\";\n\nreturn out","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":480,"wires":[["4788c030.9ff4"]]},{"id":"64b92ca5.567c84","type":"ui_form","z":"2911e1c4.c879fe","name":"","label":"PPG Save","group":"2984c30b.97ee8c","order":8,"width":"18","height":"1","options":[{"label":"File Path","value":"save_filepath","type":"text","required":true,"rows":null}],"formValue":{"save_filepath":""},"payload":"","submit":"Save PPG","cancel":"","topic":"","topicType":"str","splitLayout":false,"x":80,"y":480,"wires":[["f914fa8b.5fc9e8"]]},{"id":"c9bf5509.b22be8","type":"ui_ui_control","z":"57b01c8a.329244","name":"","events":"change","x":860,"y":80,"wires":[[]]},{"id":"fcd5da27.5a6a28","type":"ui_button","z":"57b01c8a.329244","name":"","group":"4a2e11ad.af379","order":7,"width":"4","height":"1","passthru":false,"label":"Analysis","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Analysis","payloadType":"str","topic":"topic","topicType":"msg","x":710,"y":80,"wires":[["c9bf5509.b22be8"]]},{"id":"fb93d1f8.4c791","type":"ui_ui_control","z":"3cd73fad.0f741","name":"","events":"change","x":260,"y":560,"wires":[[]]},{"id":"a6f598f.7a5f168","type":"ui_button","z":"3cd73fad.0f741","name":"","group":"8dc6452e.50e7f8","order":7,"width":"4","height":"1","passthru":false,"label":"ProtoBili","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ProtoBili","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":560,"wires":[["fb93d1f8.4c791"]]},{"id":"bb7bfecb.00047","type":"ui_chart","z":"2911e1c4.c879fe","name":"","group":"2984c30b.97ee8c","order":4,"width":"9","height":"6","label":"Test","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":810,"y":220,"wires":[[]]},{"id":"3c2b6dee.293922","type":"ui_slider","z":"2911e1c4.c879fe","name":"","label":"HR","tooltip":"","group":"2984c30b.97ee8c","order":5,"width":"6","height":"2","passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"-9","max":"9","step":1,"x":480,"y":220,"wires":[["36776f63.19085"]]},{"id":"36776f63.19085","type":"function","z":"2911e1c4.c879fe","name":"","func":"msg.topic = 'HR';\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nmsg = {};\nmsg.topic = 'HR';\nmsg.payload = 0;\nreturn msg","finalize":"","libs":[],"x":650,"y":220,"wires":[["bb7bfecb.00047"]]},{"id":"747c87ca.f6cf28","type":"mqtt in","z":"3d9633a5.1a9c2c","name":"","topic":"fever/reply/meas","qos":"2","datatype":"auto","broker":"76afae2e.93873","nl":false,"rap":true,"rh":0,"x":110,"y":60,"wires":[["895f688c.c73b18"]]},{"id":"895f688c.c73b18","type":"json","z":"3d9633a5.1a9c2c","name":"","property":"payload","action":"","pretty":false,"x":270,"y":60,"wires":[["e72957ed.7246d8","ad88e5cc.4fde28"]]},{"id":"e72957ed.7246d8","type":"debug","z":"3d9633a5.1a9c2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"8196d436.b6d318","type":"mqtt out","z":"3d9633a5.1a9c2c","name":"","topic":"fever/command","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"76afae2e.93873","x":530,"y":320,"wires":[]},{"id":"4c7786ac.838028","type":"ui_chart","z":"3d9633a5.1a9c2c","name":"","group":"75a975dd.89f24c","order":1,"width":"20","height":"8","label":"Temperature (°C)","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":750,"y":120,"wires":[[]]},{"id":"ad88e5cc.4fde28","type":"function","z":"3d9633a5.1a9c2c","name":"","func":"var out = {};\nout.series = ['Temperature'];\nmeasures = global.get(\"fever_data\") || [];\nout.label = [\"\"];\n\nmeasures.push({\"x\": Math.round(1000*msg.payload.timestamp), \"y\": msg.payload.data});\nout.data = [measures];\n\nglobal.set(\"fever_data\", measures);\nreturn {payload:[out]};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["4c7786ac.838028","e72957ed.7246d8"]]},{"id":"87ee803e.afca6","type":"ui_text_input","z":"3d9633a5.1a9c2c","name":"","label":"Teste","tooltip":"","group":"75a975dd.89f24c","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":100,"y":320,"wires":[["8196d436.b6d318"]]},{"id":"d349087c.cb9408","type":"inject","z":"3d9633a5.1a9c2c","name":"Init","props":[{"p":"payload","v":"[]","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"[]","payloadType":"json","x":430,"y":220,"wires":[["8b2658c4.a1d188"]]},{"id":"8b2658c4.a1d188","type":"ui_button","z":"3d9633a5.1a9c2c","name":"","group":"75a975dd.89f24c","order":2,"width":"4","height":"1","passthru":true,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","topicType":"str","x":550,"y":220,"wires":[["4c7786ac.838028"]]}]